/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: #fdf5e9;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a46540;
    padding: 15px 20px;
    color: white;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.03rem;
}

nav a:hover {
    text-decoration: underline;
}

nav a:last-child{
    position: absolute;
    top: 1.6%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    color: white;
    text-decoration: none;
    align-items: center;
    font-weight: bold;
}

nav a:last-child:hover{
    text-decoration: none;
}

.settings {
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.03rem;
}

.settings:hover {
    text-decoration: underline;
}

/* Hero section styles */
.hero {
    position: relative;
    height: 92vh;
    background: url('https://via.placeholder.com/1200x400') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero-content {
    background-color: white;
    padding: 50px 30px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.2);
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
    max-width: 550px;
}

.hero-content button {
    background-color: #a46540;
    color: white;
    font-size: 20px;
    padding: 18px 70px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 550;
    letter-spacing: 0.03rem;
}

.hero-content button:hover {
    background-color: #D8D2C2;
    color: #1e1e1e;
}
