<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Page with Messaging</title>
    <link rel="stylesheet" href="/static/coffee_styles.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html">About Us</a>
            <a href="/templates/coffee.html">Coffee!</a>
            <a href="vocab.html">Vocab</a>
            <a href="/templates/index.html">PROLINGUA</a>
        </nav>
    </header>
    
    <main>
        <div class="chat-container"> 
        </div>

        <div id="micPopup" class="popup hidden">
            <div class="popup-content">
                <i class="mic-icon">🎤</i>
                <div class="waveform">[Waveform Animation Placeholder]</div>
                <p><span id="recordingStatus">Listening...</span></p>
                <button id="closePopup">OK</button>
            </div>
        </div>

        <div id="confirmPopup" class="popup hidden">
            <div class="popup-content">
                <div class="confirmTitle">CONFIRMATION</div>
                <div class="confirmDesc">Are you sure to end this conversation?</div>
                <div class="button-container">
                    <button id="closeConfirmButton">NO</button>
                    <button id="openResultPopup">YES</button>
                </div>
            </div>
        </div>

        <div id="resultPopup" class="popup hidden">
            <div class="popup-content">
                <div class="check-container">
                    <i class="check-icon">✔</i>    
                </div>
                <div class="resultDesc">You have completed the task!</div>
                <button id="seeResultButton">See Result</button>
            </div>
        </div>
        
        <div id="blackOverlay" class="overlay hidden"></div>


        <div id="seeResult" class="popup hidden">
            <div class="score-circle">
                <div class="score-text">
                    <span id="score-percentage">38%</span>
                </div>
                <p id="score-level">POOR</p>
            </div>
            <p class="result-description">You need to practice your pronunciation</p>
            <button class="action-button retry-button" id="retry" onclick="window.location.href='/coffee';">Retry</button>
            <button class="action-button" id="check-answer">Check the Answer</button>
        </div>


        <footer>
            <button class="mic-button">&#x1F3A4;</button>
            <input type="text" id="messageInput" placeholder="Press the mic button to record" />
            <button id="sendMessageBtn">Send</button>
            <button class="done-button" id="done-button">DONE</button>
        </footer>
    </main>

    <script src="/static/script.js"></script>
</body>
</html>
